<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>
                    산업용 AI, 머신비전, 임베디드 UI 개발 직무에 관심이 있습니다.<br>
                    포트폴리오나 프로젝트에 대해 확인이 필요하시면 아래 연락처로 연락 부탁드립니다.
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>kenya7938@gmail.com</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <a href="https://github.com/minki9252" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                    <p>github.com/minki9252</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>010-2262-9252</p> </div>
        </div>
    </div>
</section>
