<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">함께 고민하고 성장하고 싶습니다!</h2>
                <hr class="primary">
                <p>
                    산업용 AI 및 머신비전 솔루션 개발에 열정을 가지고 있습니다.<br>
                    프로젝트에 대한 궁금한 점이나 협업 제안은 언제든 아래 연락처로 편하게 연락 주세요!
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>kenya7938@gmail.com</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <a href="https://github.com/minki9252" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                    <p>github.com/minki9252</p>
                </a>
            </div>

            <div class="col-lg-4 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>010-2262-9252</p> </div>
        </div>
    </div>
</section>
