<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/jina-da/MetalGuard.git" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/금속표면.jpg" class="img-responsive" alt="MetalGuard Project">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Industrial AI & Vision
                            </div>
                            <div class="project-name">
                                MetalGuard: 금속 표면 결함 검출
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/minki9252/PillscanAI.git" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/알약.png" class="img-responsive" alt="PillscanAI">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deep Learning / App
                            </div>
                            <div class="project-name">
                                PillscanAI: 알약 식별 시스템
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/delivery_mfc.jpg" class="img-responsive" alt="MFC Delivery App">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Windows Programming (MFC)
                            </div>
                            <div class="project-name">
                                요기요 배달 시스템 구현
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/minki9252/TheVentiKiosk" class="portfolio-box">
                    <img src="img/portfolio/더벤티.png" class="img-responsive" alt="Qt Kiosk">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Embedded UI (Qt / Ubuntu)
                            </div>
                            <div class="project-name">
                                더벤티 키오스크 시스템
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            </div>
    </div>
</section>
